.cc-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: 'roboto';
  color: white;
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
}
.logo-name-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.name {
  font-size: 14px;
}
.coin-value-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.coin-value {
  font-size: 14px;
  text-align: start;
}

.logo-image {
  width: 20px;
  margin-right: 5px;
}
